# Generated example artifacts
maze.txt
out.txt

### Project ##
!**/src/main/**
!**/src/test/**

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
target/
.flattened-pom.xml
dependency-reduced-pom.xml

### IntelliJ IDEA ###
!.idea/codeStyles/Project.xml
!.idea/jsonSchemas.xml
.idea/
*.iws
*.iml
*.ipr

### Scala SBT
.bsp

### log files ###
*.log
hs_err_pid*

### Tests ###
tests/tmp/
maze_dfs.txt
maze_prim.txt
out_astar.txt
out_dijkstra.txt
maze_kruskal.txt
out_greedy.txt
.vscode/settings.json
maze_dfs_unicode.txt
maze_kruskal_unicode.txt
maze_prim_unicode.txt
out_astar_unicode.txt
out_dijkstra_unicode.txt
out_greedy_unicode.txt
pacet-academyhw2-labyrinths
